<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/margherita.jpg" class="card-img-top" alt="Pizza de pepperoni">
          <div class="card-body">
            <h5 class="card-title">Pizza de pepperoni</h5>
            <p class="card-text">Clásica pizza con salsa de tomate, queso mozzarella y pepperoni.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/capricciosa.jpg" class="card-img-top" alt="Pizza de jamón y queso">
          <div class="card-body">
            <h5 class="card-title">Pizza de jamón y queso</h5>
            <p class="card-text">Pizza con salsa de tomate, queso mozzarella, jamón y champiñones.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/marinara.jpg" class="card-img-top" alt="Pizza vegetariana">
          <div class="card-body">
            <h5 class="card-title">Pizza vegetariana</h5>
            <p class="card-text">Pizza con salsa de tomate, queso mozzarella, pimientos, cebollas y aceitunas.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
