
<div class="parent">
    <div class="div1">
        <h3>Pizeria Don Vito</h3>
       <p class="texto">La Pizzeria Don Vito fue fundada en 1789 por el maestro pizzero Don Vito Corleone. Desde entonces, hemos estado
        sirviendo las mejores pizzas de la ciudad. Nuestra receta secreta ha sido transmitida de generación en generación, y    
        cada pizza que hacemos es un homenaje a la tradición y la pasión por la cocina italiana. En Don Vito, no solo   hacemos pizzas, creamos experiencias.

        Ven y disfruta de un pedazo de historia con nosotros.
    </p>
    </div>
    <div class="div2">
        <img src="assets/maestro.jpg" alt="">
    </div>
</div>
    
